extends base

block title
  title Change password - #{userToEdit.email}

block content
  h1 Change password - #{userToEdit.email}
  != messages()

  form#pwdchange(action='/user/changepassword/#{userToEdit.email}', method='POST')
    div
      label Old password
      input#old(name='oldpassword', type='password', class='validate[required]')
    div
      label New password
      input#new(name='newpassword', type='password', class='validate[required, minSize[7]]')
    div
      label(for='new_repeat') Repeat new password
      input#new_repeat(name='repeat', type='password', class='validate[required, minSize[7]]')

    div
      input(type='submit', value='update password')

  script(type='text/javascript')
      $(function(){
         $('#pwdchange').validationEngine();
      });