extends base

block title
  title Reset Password

block content
  != messages()
  form(method='post', action='/user/reset')
    .email
      label Email Address
      input(type='text', name='email')
    .send
      input(type='Submit',value='Send')

