select.tyre{
  width: auto;
}

.vehicle_specs {
  padding: 6px;
}

.vehicle_specs dl{
  background-color: #EEEEEE;
}

.user {
  color: #000;
  float: right;
}

span.username {
  color: lightblue;
  margin-right:20px;
}

.navbar-inner .container {
  margin-left: 100px;
  float: left;
}

.info {
    margin-left: 5px;
    margin-right: 5px;
    color: green;
}

.links{
    margin: 5px;
}