link(rel='stylesheet', href='/public/vendor/css/ui-lightness/jquery-ui-1.8.17.custom.css')
link(rel='stylesheet', href='/public/vendor/css/validationEngine.jquery.css', type='text/css')
link(rel='stylesheet', href='/public/vendor/bootstrap/css/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='/public/vendor/bootstrap/css/bootstrap-responsive.min.css', type='text/css')
link(rel='stylesheet', href='/public/css/angles.css')

script(src='/public/vendor/jquery-1.7.1.min.js')
script(src='/public/vendor/jquery-ui-1.8.17.custom.min.js')
script(src='/public/vendor/jquery.validationEngine.js')
script(src='/public/vendor/jquery.validationEngine-en.js')
script(src='/public/vendor/bootstrap/js/bootstrap.js')
script(src='/public/vendor/spin.min.js')

script(src='/public/vendor/moment-1.4.0.min.js')
script(src='/public/vendor/underscore-1.4.4.js')
script(src='/public/js/common.js')

//analytics
script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38367762-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

meta(name="viewport",content="width=device-width, initial-scale=1.0")