form#useredit(method='post', action='/admin/edit/#{userToEdit.email}')
    h2 Details
    div
      label first name
      input#firstname(name='firstname', type='text', value='#{userToEdit.firstname}', class='validate[required, minSize[2]]')
    div
      label last name
      input#lastname(name='lastname', type='text', value='#{userToEdit.lastname}', class='validate[required, minSize[2]]')
    div
      label email
      input#email(name='email', type='text', value='#{userToEdit.email}', class='validate[required, custom[email]]')
    div
     input(type='submit', value='save user')


  script(type='text/javascript')
      $(function(){
            $("form#useredit").validationEngine();
        });