extends ../base

block title
  title Authorization Failure

block content
  .hero-unit
    p You do not have permissions to access this section
      ul
        .btn 
          a(href="/") Return home
